<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/assets/favicon.png" type="image/png" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <div class="container mx-auto flex flex-col">
      {% include "components/header.html" %} {% block main %}{% endblock %} {% include "components/footer.html" %}
    </div>
  </body>
</html>
