[package]
  authors = ["Mingyu Choo <mingyuchoo@gmail.com>"]
  edition = "2024"
  name    = "greeting-using-grpc"
  version = "0.1.0"

[[bin]]
  name = "server"
  path = "src/bin/server.rs"

[[bin]]
  name = "client"
  path = "src/bin/client.rs"

[dependencies]
  prost       = "0.14.1"
  prost-types = "0.14.1"
  thiserror   = "2.0.17"
  tokio       = {version = "1.48.0", features = ["macros", "rt-multi-thread"]}
  tonic       = "0.14.2"
  tonic-prost = "0.14.2"

[build-dependencies]
  tonic-build = "0.14.2"
  tonic-prost-build = "0.14.2"

[dev-dependencies]
  criterion   = {version = "0.7.0", features = ["html_reports"]}

[[bench]]
  name = "client_benchmark"
  harness = false

[profile.dev]
  codegen-units = 256
  debug         = true
  incremental   = true
  opt-level     = 1

[profile.release]
  codegen-units = 1
  debug         = false
  lto           = "thin"
  opt-level     = 3
