[workspace]
resolver = "2"
members = [
  "crates/proto",
  "crates/server",
  "crates/client",
  "crates/examples",
  "crates/benches",
  "crates/tests",
]

[workspace.package]
authors = ["Mingyu Choo <mingyuchoo@gmail.com>"]
edition = "2024"
version = "0.1.0"

[workspace.dependencies]
anyhow = "1.0.100"
prost = "0.14.1"
prost-types = "0.14.1"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"] }
tonic = "0.14.1"
tonic-prost = "0.14.1"
tonic-build = "0.14.1"
tonic-prost-build = "0.14.1"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"

[profile.dev]
codegen-units = 256
debug = true
incremental = true
opt-level = 1

[profile.release]
codegen-units = 1
debug = false
lto = "thin"
opt-level = 3
