<header>
  <div>
    <nav>
      <div class="relative flex w-full flex-wrap items-center justify-between">
        <div>
          <a href="#">Ttile</a>
        </div>
        <div>
          <ul class="list-style-none me-auto flex flex-col ps-0 lg:mt-1 lg:flex-row">
            <li>
              <a class="px-2" href="#">Home</a>
            </li>
            <li>
              <a class="px-2" href="#">Features</a>
            </li>
            <li>
              <a class="px-2" href="#">Pricing</a>
            </li>
            <li>
              <a class="px-2">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
